<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Curve To</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>

    <script type="text/javascript" src="http://bgrins.github.com/spectrum/spectrum.js" charset="utf-8"> </script>

    <script type="text/javascript" src="/javascripts/easeljs-0.5.0.min.js" charset="utf-8"> </script>
    <script type="text/javascript" src="http://code.createjs.com/tweenjs-0.3.0.min.js" charset="utf-8"></script>

    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/base/jquery-ui.css" title="" type="" />
    <link rel="stylesheet" href="http://bgrins.github.com/spectrum/spectrum.css" title="" type="" />

    <script src="javascripts/pencil.js"></script>
    <script src="javascripts/move.js"></script>
    <script src="javascripts/draw.js"></script>
</head>
<body>
	<header id="header" class="EaselJS">
	    <h1>Badobe Crash: So good software for make jolly cartoon</h1>
	    <h2>Based on advance researching of glorious Stanfurd University</h2>
      <input type="button" name="" id="pencil-tool" value="Pencil" />
      <input type="button" name="" id="move-tool" value="Move tool" />
      <input type="button" name="" id="new-layer" value="New layer" />
      <input type="button" name="" id="play" value="Play" />
      <input type='text' id="color-picker" />
      <div id="slider"></div>
      <div id="layer-list"> </div>
	</header>
	<canvas id="myCanvas" width="960" height="400" style="border:5px solid;"></canvas>
</body>
</html>
